h1, h2, h3, h4 {
    margin:0;
}

.page {
    display: grid;
    grid-template-columns: 200px auto;
}

.full {
    display: block;
}

.halved {
    display: grid;
    grid-template-columns: 50% 50%;
}

ul {
    padding-left: 15px;
}

.thumbnails {
    display: grid;
    grid-template-columns: auto auto auto auto;    
}

.thumbnails-mini {
    display: grid;
    grid-template-columns: auto auto;
}

.new-video {
    background-color: lightgreen;
}

.excluded {
    list-style: none;
}

.included {
    list-style: square;
}

nav li {
    cursor: pointer;    
}

.page-link:hover {
    background-color: lightcyan;
}

.clickable {
    cursor: pointer;
}

.videoPlayer {
    background-color: rgba(0, 0, 0, .8);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: grid;
    justify-content: center;
    align-content: center;
}

.video-thumbnail {    
    border: 1px dashed darkgray;
    margin: 3px;
    padding: 3px;
}

.video-thumbnail:hover {
    background-color: lightgray;
}

.video-thumbnail:active {
    background-color: darkgray;
}

.player {
    border: 3px solid darkgray;
    background-color: black;
    border-radius: 10px;
}

.viewing {
    font-weight: bold;
    font-size: 1.2em;
}

.queue {
    height:400px;
    overflow-y: auto;
}

.queue div {
    cursor: pointer;
    font-size: 1.2em;
    border-bottom: 1px dotted darkgrey;
}

.queue div:hover {
    background-color: lightgray;    
}

.active {
    background-color: lightcyan;
}

aside {
    position: fixed;
    right:50px;
    top:30px;
}